body {
  background-color: #000;
}

@media screen and (min-width: 768px) {
  .app {
    display: flex;
    gap: 50px;
  }
}

@media screen and (min-width: 400px) {
  .btn-colletion {
    width: 300px;
  }
}

.btn-colletion {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.card-error {
  color: white;
  font-size: 2rem;
}

.footer {
  display: flex;
  justify-content: space-between;
}
